* { box-sizing: border-box; }

html, body {
    height: 100%;
}

.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1000;
}

nav img {
    height: 52px;
    margin-top: 7px;
}

.card, .topbar {
    background-color: #212121;
    color: #007BDE;
}

input, textarea {
    color: #CCC;
}

h5 {
    margin-bottom: 25px;
}

@media (max-width: 600px) {
    nav img { height: 42px; }
}
