doctype 5

html
  head
    block head
      title Nominate HLM
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css", type="text/css", rel="stylesheet")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css", rel="stylesheet")
      link(href="/static/style.css", type="text/css", rel="stylesheet")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js")
      script(src="/static/hlm.js")
  body
    .navbar-fixed
      nav.topbar
        .nav-wrapper.container
          a.brand-logo.center
            img(src="/static/logo.svg")
          a.sidenav-trigger(href="#", data-target="dropdown")
            i.material-icons menu
          ul.right.hide-on-med-and-down#nav-mobile
            li: a(href="https://netsoc.co/rk") Home
            li: a(href="https://netsoc.cloud") Cloud
      ul.sidenav#dropdown
        li: a(href="https://netsoc.co/rk") Home
        li: a(href="https://netsoc.cloud") Cloud
    .container
      .row
        .col.s12.m8.offset-m2.l6.offset-l3
          .card
            .card-content
              block content
    video(class="bg", loop, autoPlay, muted)
      source(src="/static/servers.mp4", type="video/mp4")
    video
