extends ./layout.jade

block append head
  script.
    console.log("d")

block content
  unless errors
    h4.teal-text Thank you!
    p: b We've got your nomination for #{name}.
    br
    p We'll be announcing this years honorary life member at our AGM, taking place on Tuesday, 14th March in the Common Room.
  if errors
    h4.teal-text Whoops...
    p There was at least one error with your submission:
    ol
      each error in errors
        li= error

